h1{
    text-align: center;
    margin-top: 50px;
}
.homeMovies{
    
display: flex;
flex-direction: column;
gap:10px;
position: relative;
}
.home{
display: flex;
flex-wrap: wrap;
/* justify-content: center; */
 gap:20px;
}

.home_div{
width: 150px;
/* color: #eae9f2; */
color: #292727;
background-color: #eae9f2;
/* box-shadow: 0 2px 8px rgba(111, 108, 108, 0.7); */

}

.pagination{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 80px;
}
.span_pagination{
    margin:0 10px;
}
.selectedLanguage{
    position: absolute;
    top: -30px;
    right: 76px;
}

@media screen and (min-width: 768px) {
     .home {
        display: flex;
             justify-content: center;
         }
    .selectedLanguage{right: 86px;}
    
}



select{
    background-color: #cccccc;
    border-radius: 4px;
}

option{
background-color: rgb(227, 217, 241);
}

