.listMovies{
    display: flex;
    display: flex;
flex-wrap: wrap;
 gap:15px;
 justify-content: center;
    /* background-color: rgb(212, 242, 232); */
}
.divGoBack{
position: relative;
} 
.home{
    display: flex;
    flex-wrap: wrap;
     gap:15px;
    }
    
    .home_div{
    width: 150px;
    
    }
    .theme-light  .input{
        /* background-color: #7e7575; */
    }
  .pagination {
      margin-top: 30px;
      text-align: center;
      padding-bottom: 80px;
  }

  .span_pagination {
      margin: 0 10px;
  }
  .selectedLanguage {
      position: absolute;
      top: -30px;
    right: 62px;
      
  }

@media screen and (min-width: 768px) {
    .selectedLanguage {
        right: 86px;
    }

        .home {
            gap: 20px;
        }
    
        .selectedLanguage {
            right: 76px;
        }
        
                .listMovies {gap: 20px;}
}