.divGoBack {
    position: relative;
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
padding-top: 10px;
}

 .GoBack{
margin: auto;
        }

                .button_GoBack{
                    background-color: #d9cfe4;
                    border: 0.5px solid #110850;;
                    border-radius: 5px;
                }

.divDetails{
    display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        /* align-items: flex; */
    
            align-items: flex-start;
            /* Обтекание текста слева от изображения */
            gap: 20px;
            /* Промежуток между изображением и текстом */

        }

              
 .movieDetailsText {
       flex: 1;
              /* Занимает все доступное пространство в контейнере */
            }
            
                

        .listCast{
            display: flex;
            /* gap: 50px;
            justify-content: center; */
            justify-content: space-evenly;
            padding-left: 0;
            padding-bottom: 10px;
           
        }
        a{
            color: #110850;

        }

.img{

    object-fit: contain;
   float: left; 
    margin: 0 10px 10px 0;
}
/* fill | contain | cover | scale-down | none */
.title{
    text-align: center;
    margin-bottom: 15px;
}
       h4{
        color:#7c6ed6;
       } 
.selectedLanguage {
     position: absolute; 
    top: -30px;
    right: 76px;
    
    
}



 @media screen and (min-width: 768px) {
     .selectedLanguage {
         right: 86px;
     }
 }

.svgGoBack{
  width: 16px;
  height: 16px;
margin-right: 5px;
  }