.divGoBack {
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
}

 .GoBack{
margin: auto;
        }

.divDetails{
    display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: flex-start
        }

        .listCast{
            display: flex;
            gap: 50px;
            justify-content: center;
            padding-left: 0;
           
        }
        a{
            color: #110850;

        }

.img{

    object-fit: contain;
}
/* fill | contain | cover | scale-down | none */
.title{
    text-align: center;
}
       h4{
        color:#7c6ed6;
       } 
